#front-page {
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;

    & > section {
        min-height: 100%;
        // border: 2px solid blue;
        box-sizing: border-box;

        &:not(#landing) {
            padding-top: 80px;

            &#portfolio h1 {
                margin-bottom: 40px;

                &#client-sites-header,
                &#web-apps-header {
                    margin-bottom: 30px;
                }
            }

            &#graphic-design h1 {
                margin-bottom: 40px;
            }

            &#docs h1 {
                margin-bottom: 50px;
            }
        }

        .card,
        .site-section {
            transition: 1s;

            &:hover {
                box-shadow: 0 0 30px #888;
            }
        }

        &#landing {
            background-color: #222;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            #my-name {
                font-size: 4rem;
                margin: 0 auto 50px;
            }

            #site-sections {
                display: flex;
                gap: 50px;
                justify-content: center;

                .site-section {
                    height: 100px;
                    width: 250px;
                    background-color: #444;
                    border: 0;
                    color: #ccc;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2rem;
                    line-height: 2rem;
                    text-align: center;
                    text-decoration: none;

                    &:hover {
                        background-color: #ccc !important;
                        color: #444 !important;
                    }
                }
            }
        }

        &#portfolio {
            background-color: #444;
            $spacing: 80px;

            #client-sites,
            #skills,
            #web-apps {
                padding-bottom: $spacing;
            }

            #view-docs {
                margin-bottom: $spacing;
            }

            #skills {
                &,
                .skill-icon {
                    display: flex;
                    align-content: center;
                    justify-content: right;
                    flex-wrap: wrap;
                    gap: 10px;
                }

                .skill-icon {
                    font-size: 20px;

                    img {
                        height: 30px;
                        width: auto;
                    }
                }
            }

            #web-apps {
                #web-apps-header {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    #view-docs {
                        font-size: 20px;
                    }
                }
            }

            #client-sites,
            #web-apps {
                .project-links {
                    & > * {
                        margin-top: 20px;
                    }

                    a {
                        text-decoration: none;

                        &,
                        .card {
                            height: 100%;
                        }

                        .card {
                            background-color: #222;
                            color: #ccc;
                            text-align: center;

                            &:hover {
                                color: white;
                            }

                            .card-body {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
        }

        &#graphic-design {
            background-color: #222;

            #gallery {
                height: 800px;
                display: flex;
                align-content: center;
                justify-content: center;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 15px;

                img {
                    height: auto;
                    width: 150px;
                    background-color: white;
                    border: 1px solid black;
                    border-radius: 10px;
                }
            }
        }

        &#docs {
            background-color: #444;
        }
    }
}
@media only screen and (max-width: 550px) {
    #gallery {
        height: 1200px !important;
    }
}
