#navbar {
    min-height: 50px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;

        a,
        button {
            background-color: transparent;
            border: none;
            color: #ddd !important;
            display: inline-block;
            font-size: 1rem;
            font-weight: bold;
            margin: 2.5px 15px;
            padding: 0;
            text-decoration: none;
            text-transform: uppercase;

            &.highlighted {
                color: red !important;
            }

            &:hover {
                color: white;
            }
        }
    }
}
