.project-docs {
    margin-top: 50px;

    .latest-post-title {
        background-color: #333;
        padding: 10px;

        h3 {
            font-style: italic;
            font-weight: 100;
        }

        small {
            color: #999;
            font-style: italic;
            text-transform: uppercase;
        }
    }

    .latest-content {
        padding: 10px 10px 0;
    }
}
