.project-header {
    background-color: #222;
    color: #ccc;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;

    h2 {
        display: inline;
        flex: 1;
        font-weight: 100;
        margin: 0;
        white-space: nowrap;
    }

    .docs-links {
        display: flex;
        gap: 10px;
    }
}
